body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;

    background-color: #800405;
    color: #ffe;
    outline: 6px solid #aa581a;
    outline-offset: -20px;
    font-family: Old Standard TT;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Content {
    width: 75vw;
    max-width: 750px;

    animation-name: fade-in;
    animation-duration: 1s;
}

#Content > p {
    font-size: 2em;
    display: inline;
}

#Content > h3 {
    font-size: 1.8em;
    margin-bottom: 0;
}

.decor {
    opacity: 0.5;
    width: 75vw;
    max-width: 400px;

    animation-name: fade-in-decor;
    animation-duration: 1s;
}

.decor:first-child {
    margin-bottom: 10px;
}

.decor:last-child {
    transform: rotate(180deg);
}

@media only screen and (max-width: 460px) {
    body {
	font-size: 12px;
    }
}

@keyframes fade-in {
    0% {
	opacity: 0;
    }
    50% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}

@keyframes fade-in-decor {
    0% {
	opacity: 0;
    }
    10% {
	opacity: 0;
    }
    60% {
	/* goes to opacity set in main style */
    }
}
